.auth-background-holder {
  background:url("../images/background/background-login-1.svg") no-repeat center center !important;
}

.wrapper {
  height: 100%;
  display: table;
  width: 100%;
}

.main-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.w-7 {
  width: 7em;
}

.my-forms {
  /* width: 50%; */
  margin: auto;
}

.my-forms-control {
  display: none;
}

.student-wrapper {
  display: none;
}

.search-student {
  margin: auto;
}
